
p {
    color: white;
    background-color: black;
}

p {
    color: white;
    background-color: black;
}

ul {
    list-style-type: none;
}

li {
    padding: 10px;
}


.mainGuiList {
    padding: 10px;
}

.slider {
    position: relative;
    left: 0;
    width: 100%;
}

h2 {
    padding-left: 20px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    color: #f1f1f1;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Position and style the open button (top left corner) */
.openbtn {
    margin-left: 20px;
    text-decoration: none;
    color: #81818100;
    display: block;
    transition: 0.3s;
    position: absolute;
    top: 0;
    font-size: 60px;
    z-index: 0;
}

.openbtn:hover {
    color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}